/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";
body {
	font-family: 'Roboto', sans-serif !important;
	background-color: #f1f3f8 !important;
}

.form-group .row {
	margin-bottom: 8px;
}

.error {
	color: #d10018;
}

.has-error .form-control {
	border: 1px solid #d10018 !important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.has-error .control-label {
	color: #d10018 !important;
}
.eqFlex{
    display: flex;
}

.bd-button {
	background-color: #03b8b0;
	color: #fff;
	height: 32px;
	border-radius: 24px;
	padding: 4px 16px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	border: none;
	float: right;
	margin-right: 20px;
}

.bd-button:focus {
	outline: none;
}

.bd-button:disabled {
	background-color: #babdc0;
}

.form-group label {
	text-align: right;
	padding-left: 16px;
	padding-right: 16px;
	margin-top: 5px;
}

.form-group input.form-control {
	border-radius: 16px;
	height: 32px;
	font-size: 14px;
	background-color: #fff;
	border: none;
	-webkit-box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
	max-width: 300px;
}
.form-group input.form-control:hover, textarea.form-control:hover{
    color:#14abff !important;
}
.form-group input.form-control:focus, textarea.form-control:focus{
    color:#000 !important;
}
textarea.form-control {
    height: auto;
    border-radius: 16px;
    line-height: 16px;
    max-width: 300px;
    min-height: 100px;
}

.form-group input:-webkit-autofill,
.form-group input:-webkit-autofill:hover,
.form-group input:-webkit-autofill:focus,
.form-group textarea:-webkit-autofill,
.form-group textarea:-webkit-autofill:hover,
.form-group textarea:-webkit-autofill:focus,
.form-group select:-webkit-autofill,
.form-group select:-webkit-autofill:hover,
.form-group select:-webkit-autofill:focus {
	background-color: #fff !important;
	border: none;
	-webkit-box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

input:focus,
.ng-select:focus {
	outline: #14abff !important;
	border: 1.5px solid #14abff !important;
	-webkit-box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
	outline: #14abff !important;
	border: 1.5px solid #14abff !important;
	-webkit-box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.ng-select.bd-custom .ng-select-container {
	min-height: 0px;
	border-radius: 0;
	height: 32px !important;
	min-height: 32px !important;
	border-radius: 24px !important;
	background-color: #fff !important;
	border: none;
	-webkit-box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.ng-dropdown-panel {
	margin-top: 3px !important;
	border-radius: 5px;
	border: none;
	-webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked:hover {
	background-color: #14abff;
	color: #fff;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
	padding: 5px 10px;
}
.ng-dropdown-panel.ng-select-bottom {
    border-radius: 10px;
}
.ng-dropdown-panel .ng-dropdown-panel-items {
    border-radius: 8px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.theme-green .bs-datepicker-head {
    background-color: #14abff 
}
.theme-green .bs-datepicker-body table td.week span {
    color: #14abff 
}
.theme-green .bs-datepicker-body table td span.selected{
    background-color: #14abff 
}